{% extends 'itawBackendBundle::layout.html.twig' %}

{% block title %}Incidents{% endblock %}

{% block currentPage %}incidents{% endblock %}

{% block content %}

    <div>
        <h2>
            <a href="{{ path('backend_incidents_collection') }}">Incidents</a>
            /
            Delete
        </h2>
    </div>

    <div class="panel panel-danger">
        <div class="panel-body">

            <form method="post" id="form-delete-incident">

                <div class="form-group">
                    <label for="input-name">Delete Incident '{{ incident.title }}'?</label>
                </div>

                <input type="hidden" value="1" name="sent">

                <button type="submit" class="btn btn-danger">Delete</button>

            </form>

        </div>
    </div>

{% endblock %}
