{% extends '::base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/backend.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/backend.js') }}"></script>
{% endblock %}

{% block body %}

    <span class="hidden" id="current-page">{% block currentPage %}{% endblock %}</span>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">

                {% block content %}
                {% endblock %}

            </div>
        </div>
    </div>

{% endblock %}